<DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Grace and Truth church helping and inspiring the community">
  <meta name="keywords" content="church,community,grace,truth">
      <link rel="stylesheet" href="binary/modules/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="binary/scripts/main.css">
</head>
<body>
  <!--Add header section for menus and logo-->
  <div class="site-wrapper">
    <div id="header">
      <div class="row">
        <div class="col-4">Site Logo</div>
        <div class="col-8">
          <ul>
            <li>About</li>
            <li>Service</li>
            <li>Give</li>
            <li>Ministry</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--add jumbotron section -->

  <!--add a main area section-->

  <!--quote area section -->

  <!--add footer section -->
  <footer id="footer">
    <div class="ft-menus">About | Contact | </div>
    <div class="ft-social">Facebook | Youtube | Twitter | Instagram</div>
  </footer>
  <script scr="binary/modules/bootstrap/js/bootstrap.min.js"></script>
  <script scr="binary/scripts/main.js"></script>
</body>
</html>
