body{
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Montserrat', helvetica, sans-serif;
}
.site-container{
  padding: 10px 0;
}
.fancy-script {
  font-family: 'Dancing Script', cursive;
}
a#site-logo {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #d43a3a;
    line-height: 120%;
}
.main-graphic{
  background-repeat: no-repeat;
  background-size: cover;
}
.feature-photo{
  background-image: url(../images/fgp_front_view.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
}
/*Feature boxes*/
#feature-box-section{
  margin-top: 50px;
  margin-bottom: 50px;
}
.feature-box {
    text-align: center;
    padding: 20px 0 10px;
}

.feature-box > a
{
    color: #607D8B;
    font-size: 35px;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #d7d7d7;
    border-radius: 50px;
    margin-bottom: 5px;
    display: inline-block;
    height: 80px;
    width: 80px;
}
#mission {
    background-color: #3e1c1c;
    color: #fff;
    padding: 40px;
}
/*Feature sections*/
.feat-section{
  padding-top: 30px;
  padding-bottom: 15px;
  min-height: 200px;
}
.section-header {
    display: inline-block;
}
#about-section {
    background-color: #0aa4ba;
    line-height: 30px;
}
#about-section .ministry-header {
    border-bottom: 1px solid #FFF7D4;
    text-align: center;
    font-size: 2.2rem;
    padding-bottom: 10px;
    font-family: 'Dancing Script', cursive;
}
.bios {
    padding-bottom: 15px;
}
.bios .profile-box{
  text-align: center;
}
.bios .pf-title {
    display: block;
    margin-bottom: 10px;
    color: #EDE763;
    font-size: 15px;
}
.bios .pf-photo{
  display: inline-block;
  border-radius: 70px;
  width: 135px;
  max-height: 150px;
}

#quote-section {
    background-color: #636365;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    color: #6efaff;
    padding: 20px 10px;
    border: 1px solid #878383;
}

/*Service*/
#service {
    color: #fff;
    min-height: 300px;
    text-align: center;
}
#service .section-header {
  text-decoration: underline;
}
#service .container{
    background-color: #26000a99;
    opacity: 0.9;
    padding: 10px 0;
}
#service.main-graphic {
    background-image: url(../images/crosses-praise.jpg);
    background-attachment: fixed;
}
.time-wrapper {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.connect-icons {
    font-size: 1.5rem;
}
.connect-icons a {
    padding: 5px;
    margin-right: 8px;
}

/*give section*/
#give{
  background-color: #0aa4ba;
  color: #fff;
}

/*Footer section*/
#footer{
  text-align: center;
  background-color: #607D8B;
  color: #fff;
  padding: 20px 10px;
}
.ft-social{
  padding-bottom: 5px;
}
.ft-social a i.fab {
    padding: 10px 25px;
    border-right: 1px solid #fff;
    font-size: 25px;
    color: #fff;
}
.ft-social a:first-child > i.fab{
  border-left: 1px solid #fff;
}
.ft-divider{
  border-top: 2px solid #5f5b5b;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
